@font-face{
    font-family: "bebas-neue-bolld";
    src: url(../media/fonts/bebas-neue-bold.otf);
}
@font-face{
    font-family: "firago-medium";
    src: url(../media/fonts/FiraGO-Medium.ttf);
}
@font-face{
    font-family: "firago-bold";
    src: url(../media/fonts/FiraGO-Bold.otf);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.timeline-wrapper {
    scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

    /* Hides scrollbar in WebKit browsers (Chrome, Safari, etc.) */
    overflow-y: hidden; /* Ensure vertical scroll is hidden */
    overflow-x: auto; /* Allow horizontal scroll */
}


section.timeline-wrapper {
    height: 100vh;
    overflow-x: scroll; 
    overflow-y: auto;
    background: url(../media/grid.avif);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 5px solid red; */
    /* padding-left:50px; */
}


.timeline {
    /* min-width: 170vw; */
    width: max-content;
    position: relative;
    top: 115px;
    height: 4px;
    background-color: #D74E12;
    display: flex;
    gap: 200px;
    padding: 0 150px;

}

.timeline-item img{
    transform:translateY(-50%);
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
}
.card-wrapper{
    position: relative;
}
h2.virus-name{
    color: #659F7C;
    font-family: "bebas-neue-bolld";
    font-size: 45px;
    position: absolute;
    top:-270px;
    left: -29%;
}

.virus-icon-borders{
    position: absolute;
    top: -199px;
    left: 30px;
    width: 44px;
    height: 300px;
    border-left: 1px solid #659F7C;
    border-bottom: 1px solid  #659F7C;
}

.virus-icon-borders:before{
    content: "";
    width: 7px;
    height: 7px;
    background-color: #659F7C;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left:-4px;
}

.virus-img{
    width: 90px;
    position: absolute;
    left: 74px;
    top: 53px;
    border: 4px solid #D74E12;
    border-radius: 50%;
}

.top-content-wrapper{
    width: 295px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -210px;
    left: -40px;
}
.side-content-holder{
    display: flex;
    flex-direction: column;
}
.side-content-holder p{
    width: 194px;
    font-family: "firago-medium";
    color: #616161;
    font-size: 12px;
    margin-top:7px;
    margin-bottom: 1rem;
}
.side-content-holder a{
    font-family: "bebas-neue-bolld";
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.side-content-holder a:hover{
    color: #D74E12;
}

.side-content-holder .year-number{
    font-family: "firago-bold";
    font-size: 36px;
}
.card-wrapper:nth-child(even), .card-wrapper:nth-child(even) .top-content-wrapper, .card-wrapper:nth-child(even) h2, .card-wrapper:nth-child(even) .timeline-item, .card-wrapper:nth-child(even) .virus-img  {
    transform: rotate(180deg) scale(-1,1);
}

.card-wrapper:nth-child(even) .timeline-item img{
    transform:translateY(50%);
    z-index: 2;
}
.card-wrapper:nth-child(even) .virus-icon-borders{
    z-index: -1;
}

.card-wrapper:nth-child(even) .side-content-holder{
    justify-content: flex-end;
}
.card-wrapper:nth-child(even) a{
    margin-bottom: 32px;
}
.card-wrapper:nth-child(even) h2{
    color: #D74E12;
}

.year-text{
    font-family: "firago-medium";
    font-size: 12px;
}
.timeline-item{
    cursor: pointer;
}

h2, .top-content-wrapper, .virus-icon-borders, .virus-img{
    transition: .5s ease-out;
    opacity: 0.15;
}

/* .card-wrapper:hover h2, .card-wrapper:hover .top-content-wrapper, .card-wrapper:hover .virus-icon-borders, .card-wrapper:hover .virus-img {
    transition: 0.5s ease-in-out;
    opacity: 1;
} */

.active{
    opacity: 1;
}

.timeline-header{
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-header h1{
    font-size: 78px;
    font-family: "bebas-neue-bolld";

}

nav{
    margin-top:20px;
    min-width: 500px;
    max-width: 530px;
}

ul{
    margin:0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
li{
    font-size: 44px;
    font-family: "bebas-neue-bolld";
    cursor: pointer;
    color: #659F7C;
    border-bottom: 3px solid #659F7C;
    padding: 0px 30px;
}

.tab-active{
    color: #D74E12;
    border-bottom: 3px solid #D74E12;
}

.timeline-marks{
    position: absolute;
    bottom:60px;
    left: 85px;
    padding: 50px;
    /* border-radius: 50%; */
}
.map-item{
    display: flex;
    align-items: center;
    gap:10px;
    margin-top:20px;
}

.map-item span {
    font-size: 16px;
    font-family: "firago-medium";
    margin-left: 5px;
}

#child{
    min-width: 144vw;
    display: flex;
}
#women{
    min-width: 130vw;
    display: none;
}
#men{
    min-width: 104vw;
    display: none;
}